<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Campustore</title>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
  <!-- <link href="stylesheet/css/common.css" rel="stylesheet" /> -->
  <link href="stylesheet/css/app.min.css" rel="stylesheet" />
</head>

<body>
  <div id="side_menu">
    <div class="exit_wrap">
      <a id="side_exit" href="#">&#x2716;</a>
    </div>
    <div class="logo_wrap">
      <img src="img/logo/side_logo.png" />
    </div>
    <ul>
      <div class="menu_category_mobile">
        <li><a href="category.html?category=game">게임</a></li>
        <li><a href="#">라이프 스타일</a></li>
        <li><a href="#">미디어</a></li>
        <li><a href="#">교육</a></li>
        <li><a href="#">여행</a></li>
        <li><a href="#">비즈니스</a></li>
        <li><a href="#">기타</a></li>
      </div>
      <li><a href="#">마이 페이지</a></li>
      <li><a href="#">명예의 전당</a></li>
      <li><a href="#">빅데이터 차트</a></li>
    </ul>
  </div>
  <div class="wrap">
    <header class="global_header">
      <div class="logo">
        <img src="img/logo/logo.png" alt="" />
      </div>
      <a id="login" href="login2.html">login</a>
      <div class="bottom_header">
        <i id="hamburger" class="material-icons">reorder</i>
        <i id="search" class="material-icons">search</i>
        <ul class="menu_category">
          <li><a href="category.html?category=game">게임</a></li>
          <li><a href="#">라이프 스타일</a></li>
          <li><a href="#">미디어</a></li>
          <li><a href="#">교육</a></li>
          <li><a href="#">여행</a></li>
          <li><a href="#">비즈니스</a></li>
          <li><a href="#">기타</a></li>
        </ul>
      </div>
    </header>
  </div>




  <main class="Wrapper">
    <div class="container">

      <div class="headerContainer">
        <div class="contentHeader">
          <div class="imgWrapper">
            <img src="img/sample/kitten.jpg" alt="" />
          </div>
          <div class="dataWrapper">
            <p class="title">고양이 키우기</p>
            <p class="category">
              기타
            </p>
            <div class="star">
              ★★
            </div>
            <span class="like">
            좋아요 :
            <p class="count">234</p>
          </span>
            <span class="views">
            조회수 :
            <p class="count">234</p>
          </span>
            <span class="downloads">
            다운로드수 :
            <p class="count">234</p>
          </span>
            <br/>
            <input type="image" src="img/button/install.png" value="설치" />
            <input type="image" src="img/button/recomand.png" value="추천" />
          </div>
          <div class="graph">
            <img src="img/common/coins.png" alt="" />
            <input type="image" src="img/button/funding.png" value="펀딩" />
          </div>
        </div>
      </div>

        <div class="carousel">
          <img class="blurImage" src="img/sample/kitten.jpg" />
          <div>
            <img class="originImage" src="img/sample/kitten.jpg" alt="" />
          </div>
        </div>

        <div class="appDescriptionWrapper">
          <strong class="descriptionHeader">
            앱설명
          </strong>
          <p class="appDescription">
            대학생을 위한 앱스토어 입니다. <br />소규모투자가 가능한 마켓 플랫폼이며 <br/>학생 개발자와 기업을 연결해줍니다.<br/>
          </p>
        </div>

        <div class="appDescriptionWrapper">
          <strong class="descriptionHeader">
            개발자 소개 및 개발과정
          </strong>

          <p class="appDescription">
            제주대학교 컴퓨터공학과 4학년 학생들로 이루어진 팀입니다.
          </p>
        </div>


        <div class="appDescriptionWrapper">
          <strong class="descriptionHeader">
            등록 정보
          </strong>
          <dl class="registerInfo">
            <dt>개발자 이름</dt><dd>썸띵라잌댓</dd><br/>
            <dt>개발자 E-Mail</dt><dd>somethinglikethat@gmail.com</dd><br/>
            <dt>펀딩 목표 금액</dt><dd>1,000,000원</dd><br/>
            <dt>버전</dt><dd>1.1.2</dd><br/>
            <dt>크기</dt><dd>12.8Mb</dd><br/>
            <dt>등록 날짜</dt><dd>2017.08.12</dd><br/>
            <dt>업데이트 날짜</dt><dd>2017.08.31</dd><br/>
          </dl>
        </div>


        <div class="appDescriptionWrapper">
          <strong class="descriptionHeader">
            펀딩
          </strong>

          <dl class="fundingInfo">
            <dt>목표금액</dt><dd>1,000,000원</dd><br/>
            <dt>펀딩혜택</dt><dd>서비스 유료화 시 무료 이용</dd><br/>
            <dt>매칭금액</dt><dd>1,500,000원 이상</dd><br/>
          </dl>

        </div>


        <div class="appDescriptionWrapper">
          <strong class="descriptionHeader">
            Comment.
          </strong>

          <ul class="commnentWrapper">
            <li>

            </li>
          </ul>

        </div>

      </div>
  </main>










  <script>
    const loginButton = document.getElementById('login');
    const searchButton = document.getElementById('search');
    searchButton.addEventListener('click', (e) => {
      console.log(e.target);
    })

    const sideMenu = document.getElementById('side_menu');

    const sideExitButton = document.getElementById('side_exit');
    sideExitButton.addEventListener('click', (e) => {
      sideMenu.style.width = '0';
    });

    const menuButton = document.getElementById('hamburger');
    menuButton.addEventListener('click', (e) => {
      sideMenu.style.width = '250px';
    });

    document.getElementsByClassName("slide")[0].style.display = 'block';
  </script>
</body>

</html>
